<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/_head") %>
    <title>Home | URL Shortner</title>
  </head>
  <body>
    <div class="container">
      <h3 class="mt-4 mb-3">URL Shortner</h3>
      <% if(locals.id){ %>
      <p>
        Generated URL: http://localhost:5000/url/<%= id %>
        <a href="http://localhost:5000/url/<%= id %>"
          >http://localhost:5000/url/<%= id %></a
        >
      </p>
      <% } %>

      <form method="post" action="/url">
        <div class="mb-3">
          <label for="url" class="form-label">Enter your URL</label>
          <input
            type="text"
            name="url"
            class="form-control"
            id="url"
            placeholder="https://www.google.com"
          />
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
      </form>

      <h3 class="mt-5 mb-3">URLs List:</h3>
      <% if(locals.urls){ %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ShortId</th>
            <th scope="col">Redirect URLs</th>
            <th scope="col">No. of Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitedHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
    <%- include("./partials/_scripts") %>
  </body>
</html>
